.container {
  flex: 3;
}

.card {
  margin-top: 10px;
  border-radius: var(--border-radius);
  background-color: var(--main-fg-color);
  box-shadow: var(--box-shadow);
  padding: var(--inner-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--main-border-color);

  .headerText {
    margin: 0;
    color: var(--text-color-1);
  }

  .clearButton {
    width: 150px;
    cursor: pointer;
  }
}

.summary {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;

  .summaryItem {
    color: var(--text-color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    p {
      margin: 0;
      font-size: 12px;
      font-weight: bold;
    }
    &:last-child {
      flex: 2;
    }
  }
}

.caption {
  margin: 0;
  margin-top: -20px;
  color: var(--text-color-1);
  font-size: 11px;
}
