.container {
  flex: 1;
}

.chart {
  background-color: var(--main-fg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: var(--inner-padding);
}

.chart p {
  font-size: 16px;
  color: var(--text-color-1);
  margin: 0;
}
