.container {
  /* 1/4th of right page column */
  flex: 1; 
  min-height: 150px;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 5px;
}

.container p, .container h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
  padding: 5px;
}

.header h2 {
  font-size: 14px;
  color: #646363;
}

.body {
  display: flex;
}

.column {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.positive {
  color: #40e672;
}

.negative {
  color: #e44a48;
}
